[user]
	name = PortableProgrammer
	email = nick@warnerheavyindustries.com
	signingkey = ~/.ssh/id_ed25519.pub
[credential]
	helper = osxkeychain

# VScode Support
[safe]
	directory = "*"
[pull]
	rebase = true
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[gpg]
	format = ssh
